%tr{:data=>{:chore_id=>chore.id}}
  %td #{chore.name}
  %td
    = (not chore.isDone?) ? 'Not Done' :  'Done'
  %td
    - if @admin
      = link_to 'Delete', list_chore_path(@list.id,chore.id), :remote=>true, :method=>:delete,:class=>'chore'
    - if not chore.isDone?
      = link_to 'Complete', '#', :data=>{:remote=>true, :chore_id=>chore.id, :list_id=>@list.id}